@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  user-select: none;
}
.profile{
    width: 150px;
    height: 150px;
    padding: 4;
    animation: profile linear 22s infinite;
    border-radius: 50%;
    background-color: rgba(245, 105, 175, 0.589) ;
    box-shadow: 2px 0 16px rgba(0, 0, 0, 0.884);
    
  }
  @keyframes profile{
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
        
    }
 }
 .profile1{
    width: 90px;
    height: 90px;
    padding: 4;
    animation: profile linear 28s infinite;
    border-radius: 50%;
    background-color: rgb(236 72 153) ;
    margin: auto;
    border-style: dashed;
    margin-top: 10px;
  }
 @keyframes profile1{
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
        
    }
 }
.profile2{
    width: 160px;
    height: 160px;
    padding: 4;
    animation: profile linear 8s infinite;
    border-radius: 50%;
    background-color: rgba(245, 105, 175, 0.432) ;
    box-shadow: 2px 0 16px rgba(0, 0, 0, 0.884);
    
  }
  @keyframes profile{
    0%{
        transform: rotateY(0deg);
        transition-duration: 800ms;
        transition: ease-in-out;
        
        
    }
    25%{
        transform: rotateY(25deg);
        transition-duration: 800ms;
         transition: ease-in-out;
        
    }
    50%{
        transform: rotateY(0deg);
        transition-duration: 800ms;
         transition: ease-in-out;
    }
    75%{
        transform: rotateY(25deg);
        transition-duration: 800ms;
         transition: ease-in-out;
    }
    100%{
        transform: rotateY(0deg);
        transition-duration: 800ms;
         transition: ease-in-out;
    }
 }
html,
body {
  position: relative;
  height: 100%;
}

body {
 
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
